.box{
    width: 150px;
    height: 100px;
    background-color: cornflowerblue;
    position: static;
    border: 1px solid black;
}

.relative-box{
     width: 150px;
    height: 100px;
    background-color: rgb(36, 106, 237);
    position: relative;
    border: 1px solid black;

    top: 30px;
    left: 50px;
}

.box1{
    border: 5px solid black;
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 50px;
}

.box2{
    border: 5px solid black;
    padding: 10px;
    margin: 50px;
    display: inline;
}

.span-class{
    border: 1px solid black;
    display: block;
}

.box3{
    border: 5px solid black;
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: 50px;
    /* display: none; */
}


/* positions */

.card{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    position: relative;
}

.badge{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
}

.chat{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 160px;
    height: 360px;
}

.navbar{
    background-color: aqua;
    position: sticky;
    top: 0px;
}